<IfModule mod_rewrite.c>
	RewriteEngine on
	# -- Перенаправляем на основную точку входа
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) index.php [L,QSA]
	# -- -- -- --
</IfModule>